<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>About</title>
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Clinic</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/signup">Sign up</a>
            <a href="/appointment">Request Appointment </a>
        </div>
    </nav>
    <main class="about">
        <div class="long">
            <h2>Pioneering modern clinic that provides the best service for human health.</h2>
        </div>
        <div class="short">
            <p>We believe, when a health professional team collaborates with modern technology, it will provide fast, precise and accurate health services.</p>
            <div>
                <button style="background-color: red;"></button>
                <button style="background-color: blue;"></button>
                <button style="background-color: green;"></button>
                <button style="background-color: yellow;"></button>
                <button style="background-color: orange;"></button>
            </div>
            
        </div>
        
    </main>
    <div class="vid">
        <div class="inner">
            <img src="./assets/docs1.jpg" alt="">
        </div>
    </div>
</body>
</html>