<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Contact Us</title>
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Clinic</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/signup">Sign up</a>
            <a href="/appointment">Request Appointment </a>
        </div>
    </nav>
    
    <main class="contact">
        
        <div class="three-boxes">
            <div><h2>Support</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea in similique, libero obcaecati, odio natus amet omnis et dolores quae eveniet dolorum? Doloremque harum dignissimos cumque, quam labore ullam eum dolorum odit, ipsa, id iure amet culpa maxime nostrum quidem.</p>
        <button>click here</button></div>
            <div>
                <h2>Foundation</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea in similique, libero obcaecati, odio natus amet omnis et dolores quae eveniet dolorum? Doloremque harum dignissimos cumque, quam labore ullam eum dolorum odit, ipsa, id iure amet culpa maxime nostrum quidem.</p>
        <button>click here</button>
            </div>
            <div>
                <h2>More info</h2>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ea in similique, libero obcaecati, odio natus amet omnis et dolores quae eveniet dolorum? Doloremque harum dignissimos cumque, quam labore ullam eum dolorum odit, ipsa, id iure amet culpa maxime nostrum quidem.</p>
        <button>click here</button>
            </div>
        </div>
    </main>
</body>
</html>