<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Hospital Management</title>
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Clinic</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/signup">Sign up</a>
            <a href="/appointment">Request Appointment </a>
        </div>
    </nav>
    <main>
        <div class="top">
            <div class="left">
                <h1>Your doctor is here</h1>
                <p>Hope clinic is a modern clinic for complex <br>operations and emergency care in all states in the <br>northern part of Nigeria. We have beeen providing care to all types <br> of emergency medical care to Northerners <br> since 2022.</p>
                <button>Learn more</button>
            </div>
            <div class="right">
                <video autoplay loop muted>
                    <source src="./assets/vid1.mp4" type="video/mp4">
                    
                  </video>
                  
            </div>
        </div>
    </main>
</body>
</html>