<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./style.css">
    <title>Sign Up</title>
</head>
<body>
    <nav>
        <div class="left">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/about">About Clinic</a></li>
                <li><a href="/contact">Contact Us</a></li>
            </ul>
        </div>
        <div class="right">
            <a href="/signup">Sign up</a>
            <a href="/appointment">Request Appointment </a>
        </div>
    </nav>
    
    
    <main class="login">
        <div class="left">
            <div class="form">
                <form action="" method="post">
                    <h3>Welcome Back</h3><br><br>
                    <input type="text" name="username" placeholder="username"><br><br>
                    <input type="email" name="email" placeholder="email"><br><br>
                    <input type="password" name="password" placeholder="password"><br><br>
                    <p>Don't have an account?  <a href="">Sign up</a> here</p><br>
                    <button>Sign up</button>
                </form>
            </div>
        </div>
        <div class="right">
            <img src="./assets/login.jpg" alt="">
        </div>
    </main>
</body>
</html>